= simple_form_for(@training) do |f|
  = f.error_notification

  .form-inputs.form-horizontal
    .form-group
      .control-label.col-sm-4
        = f.label "Name: "
      .col-sm-8
        = f.input :name, :label => false
    .form-group
      .control-label.col-sm-4
        = f.label "Description: "
      .col-sm-8
        = f.input :description, :label => false

  .form-actions
    .form-group
      .col-sm-12
        = f.button :submit
