- content_for :title, "USE_ITEMS"

!!!
%html
.mainContent
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://www.w3schools.com/w3css/4/w3.css", :rel => "stylesheet"}/
  %body
    .w3-container
      .w3-bar
      %form{:action => :/}
        %button.w3-button.w3-left.w3-red Back

.mainContent
  %h2{:style => "font-size:50px;color:white"}
    Use an item

  /%link#bootstrap-css{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", :rel => "stylesheet"}
  /%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
  /%script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
  / ---- Include the above in your HEAD tag --------
.mainContent
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .input-group
          .input-group-btn.search-panel
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span#search_concept Filter by
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#contains"} Contains
              %li
                %a{:href => "#its_equal"} It's equal
              %li
                %a{:href => "#greather_than"} Greather than >
              %li
                %a{:href => "#less_than"} Less than
              %li.divider
              %li
                %a{:href => "#all"} Anything
          %input#search_param{:name => "search_param", :type => "hidden", :value => "all"}
            %input.form-control{:name => "x", :placeholder => "Search term...", :type => "text"}
              %span.input-group-btn
                %button.btn.btn-default{:type => "button"}
                  %span.glyphicon.glyphicon-search
.mainContent
  - items = ['Computer', 'Robot', 'Wires', 'Battery']
  %body
    .container
      %br
      %br
      %div
        %table#tableOne.table-hover{:width => "750px", :align => "center", overflow: "auto"}
          %thead{:align => "center", :text => "bold"}
            %tr
              %td
                %input{:name => "name36", :type => "checkbox"}/
              %td Equipment
              %td Serial NO.
              %td Description
              %td Item Left
          %tbody{:style => "background-color: RGB(200,200,200,0.4);", :align => "center"}
            - items.each do |i|
              %tr
                %td
                  %input{:name => "name36", :type => "checkbox", "data-target" => "#borrowModal", "data-toggle" => "modal"}/
                %td{:onclick => "window.location='user?u=#{i} ';"} #{i}
                %td 1
                %td Defaultson
                %td 0
.mainContent
  %body
    .container
      %a.btn.btn-success.btn-lg{"data-target" => "#borrowModal", "data-toggle" => "modal", :type => "submit"}
        Use
/ Modal
#borrowModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
  .modal-content
    %font{:color => "black"}
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Use Item #{params[:item]}
      .modal-body
        %form.form-horizontal{:action => "#"}
          %font{:color => "black"}
            .form-group
              %label.control-label.col-sm-2{:for => "id"} Select id:
              .col-sm-10
                %select{:name => "ids"}
                  - for i in 1..5 do
                    %option{:value => "id#{i}"} id #{i}
            .form-group
              %label.control-label.col-sm-2{:for => "duration"} Duration:
              .col-sm-10
                %input#duration.form-control{:type => "duration"}/
      .modal-footer
        %button.btn.btn-info{"data-dismiss" => "modal", :type => "submit"} Use
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
