- content_for :title, "NEW_LOAN"
.container
  -# - if ((@detail.active?) && (@detail.available?))
  %h1 New loan for #{params[:p_id]}:#{params[:s_id]}
  .col-sm-8.col-sm-offset-2
    = render 'form'
  -# - else
    %h1 This loan is unavailable.

  %a.btn{:href => "/details/#{@detail.id}", :role => "button"} Go to Item #{@detail.id} Page
