-# %p Dear #{@tech.givenname}

%p Report message: [ #{@report.description} ] has been created as new report.

%p The new report is for #{@detail.equipment.name} : #{@detail.detail_id}

%p Purchase date: #{@detail.purchase_date}
