- content_for :title, "VIEW_EQUIPMENT"

.container
  %h1 View equipment
  %br
  %br
  .row
    .col-xs-8.col-xs-offset-2
      .input-group
        .input-group-btn.search-panel
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %span#search_concept Filter by
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#contains"} Contains
            %li
              %a{:href => "#its_equal"} It's equal
            %li
              %a{:href => "#greather_than"} Greather than >
            %li
              %a{:href => "#less_than"} Less than
            %li.divider
            %li
              %a{:href => "#all"} Anything
        <%= text_field_tag :user, nil, class: "js-user-autocomplete" %>
        %input#search_param{:name => "search_param", :type => "hidden", :value => "all"}
          %input.form-control{:name => "x", :placeholder => "Search term...", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"}
                %span.glyphicon.glyphicon-search

  %br
  %p There are #{@equipments.size} accounts in the table!
  - Equipment.create id: "3", name: "monitor", consumable: "0"
  %table.table-hover{}
    %thead
      %tr
        %th Product ID
        %th Name
        %th Consumable
    %tbody
      - @equipment.each do |equipment|
        %tr{:onclick => "window.location='item?i=#{equipment.name} ';"}
          %td #{equipment.id}
          %td #{equipment.name}
          %td #{equipment.consumable}
